body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    120deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 0;
  background-size: cover;
  height: 100vh;
}
#work {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 20px;
  text-align: center;
}
#work:focus {
  box-shadow: 1px 1px 8px 1px rgb(107, 107, 107);
  outline: none;
}
#add-btn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
.btn-hover {
  box-shadow: 1px 1px 8px 1px rgb(155, 155, 155);
}
.btn-click {
  box-shadow: 1px 1px 8px 1px rgb(68, 68, 68);
}

/*Unordered list*/
#middle-list {
  margin-top: 40px;
  list-style-type: none;
  text-align: center;
}
#middle-list li {
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  color: rgb(29, 29, 29);
}
.f-text {
  font-family: "Poiret One", cursive;
  font-weight: 700;
  color: rgb(46, 46, 46);
}
.f-text a {
  color: rgb(46, 46, 46);
}
.f-text a:hover {
  color: rgb(121, 120, 120);
}
@media only screen and (min-width: 375px) {
  #top-row {
    margin-top: 60px;
  }
  #left-col {
    margin-bottom: 10px;
  }
  #middle-list {
    margin-left: -30px;
  }
  #middle-list li {
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .f-text {
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
  }
}

@media only screen and (min-width: 1280px) {
  #top-row {
    margin-top: 60px;
  }
  #middle-list li {
    width: 600px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .f-text {
    font-size: 20px;
    margin-bottom: 100px;
    text-align: center;
  }
}
